@use '@angular/material' as mat;
$primary-map-color:  (
	gradient:  linear-gradient(180deg, #990000 0%, #cc0000 100%),
  	 50 : #f3e0e0,
  	 100 : #e0b3b3,
  	 200 : #cc8080,
  	 300 : #b84d4d,
  	 400 : #a82626,
  	 500 : #990000,
  	 600 : #910000,
  	 700 : #860000,
  	 800 : #7c0000,
  	 900 : #6b0000,
  	 A100 : #ff9a9a,
  	 A200 : #ff6767,
  	 A400 : #ff3434,
  	 A700 : #ff1a1a,
  	 contrast: (50 : #000000,
  	   100 : #000000,
  	   200 : #000000,
  	   300 : #ffffff,
  	   400 : #ffffff,
  	   500 : #ffffff,
  	   600 : #ffffff,
  	   700 : #ffffff,
  	   800 : #ffffff,
  	   900 : #ffffff,
  	   A100 : #000000,
  	   A200 : #000000,
  	   A400 : #ffffff,
  	   A700 : #ffffff,
  	 )
);

$accent-map-color:  (
  	 50 : #f9e0e0,
  	 100 : #f0b3b3,
  	 200 : #e68080,
  	 300 : #db4d4d,
  	 400 : #d42626,
  	 500 : #cc0000,
  	 600 : #c70000,
  	 700 : #c00000,
  	 800 : #b90000,
  	 900 : #ad0000,
  	 A100 : #ffd7d7,
  	 A200 : #ffa4a4,
  	 A400 : #ff7171,
  	 A700 : #ff5858,
  	 contrast: (50 : #000000,
  	   100 : #000000,
  	   200 : #000000,
  	   300 : #ffffff,
  	   400 : #ffffff,
  	   500 : #ffffff,
  	   600 : #ffffff,
  	   700 : #ffffff,
  	   800 : #ffffff,
  	   900 : #ffffff,
  	   A100 : #000000,
  	   A200 : #000000,
  	   A400 : #000000,
  	   A700 : #000000,
  	 )
);

$warn-map-color:  (
	50:  #ffe0e0,
	100:  #ffb3b3,
	200:  #ff8080,
	300:  #ff4d4d,
	400:  #ff2626,
	500:  #ff0000,
	600:  #ff0000,
	700:  #ff0000,
	800:  #ff0000,
	900:  #ff0000,
	A100:  #ffffff,
	A200:  #fff2f2,
	A400:  #ffbfbf,
	A700:  #ffa6a6,
	contrast:  (
		50:  #000000,
		100:  #000000,
		200:  #000000,
		300:  #000000,
		400:  #ffffff,
		500:  #ffffff,
		600:  #ffffff,
		700:  #ffffff,
		800:  #ffffff,
		900:  #ffffff,
		A100:  #000000,
		A200:  #000000,
		A400:  #000000,
		A700:  #000000,
	),
);

$typography:  mat.define-typography-config();
$santa-primary-palette: mat.define-palette($primary-map-color);
$santa-accent-palette:  mat.define-palette($accent-map-color);
$santa-warn-palette:  mat.define-palette($warn-map-color);

$santa-theme: mat.define-light-theme((
  color: (
    primary: $santa-primary-palette,
    accent: $santa-accent-palette,
    warn: $santa-warn-palette
  ),
  typography: $typography,
  density: 0
));

$santa-dark-theme:  mat.define-dark-theme((
  color: (
    primary: $santa-primary-palette,
    accent: $santa-accent-palette,
    warn: $santa-warn-palette ),
  typography: $typography,
  density: 0
));


$primary:  mat.get-color-from-palette($primary-map-color, 500);
$accent:  mat.get-color-from-palette($accent-map-color, 500);
$warn:  mat.get-color-from-palette($warn-map-color, 500);
