mat-toolbar {
	background-image: linear-gradient(180deg, #990000 0%, #cc0000 100%) !important ;
}


.toolbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.clickable {
	cursor: pointer;
}

.container-application-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container-administration-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.title{
  margin-right:10px;
}

.container-logo{
    height:42px;
    width:106px;
    margin-top: 3%;
    background-image: url('../../../../assets/img/logo/santa.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}



