.example-header-image {
  background-image: url('/src/assets/img/avatar_santa3.png');
  background-size: cover;
}

.actions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}


// .card-container{
//   max-width: 400px;
//   max-height: 200px;
// }

.container-title{
  margin-bottom: 15px;
}
