.example-header-image {
  background-image: url('/src/assets/img/avatar_santa3.png');
  background-size: cover;
}

.actions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
