<div class="card-container">
  <mat-card class="card">
    <mat-card-header class="card-header">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{event.title}}</mat-card-title>
      <!-- <mat-card-subtitle>{{event.description}}</mat-card-subtitle> -->
    </mat-card-header>
    <img mat-card-image [src]="imgSrc" alt="Photo of secret Santa">
    <mat-card-content>
      <div class="w-100 centered">
        <p> Le {{event.dateEvent | date}}</p>
        <p> {{i18nEvent.STATU| trad:i18nEvent.NAMESPACE_CLASS:{value:event.statut}| async }}</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="actions">
        <button mat-button (click)="onViewEvent(event.id,$event.which==2)">{{'view' | trad:i18nNamespace|
          async}}</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>