<div class="container-global">
  <h2 mat-dialog-title>
    {{title}}
  </h2>
  <div mat-dialog-content>
    <p>
      {{ message }}
    </p>
  </div>


  <div class="container-buttons">
    <div>
      <button class="color-primary" mat-raised-button mat-dialog-close (click)="onDismiss()" tabindex="-1">
        {{ cancelButtonText }}</button>
    </div>
    <div>
      <button class="color-warn" mat-raised-button color="warn" (click)="onConfirm()" tabindex="1">
        {{ confirmButtonText }}
      </button>
    </div>
  </div>
</div>