@use '@angular/material' as mat;
@use 'sass:map';

@mixin confirm-action($theme) {
  $color-config: mat.get-color-config($theme);
  $primaryPalette: map.get($color-config, primary);
  $primary : mat.get-color-from-palette($primaryPalette, 500, 0.5);



  .color-primary {
    background-color: $primary;
    color: white;
  }
}

.container-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;

  & div {
    margin: 0px 5px;
  }
}


.container-global {
  padding: 20%;
}


.color-primary {
  background-color: #990000 !important;
  color: white !important;
}

.color-primary:disabled {
  opacity: 0.5;
  color: white !important;
}
